.docker_buildtime_img
.configure_ncurses
.build_ncurses
.install_ncurses
.patched_nethack
.setup_nethack
.build_nethack
.install_nethack
cosmocc.zip
cosmocc/
ncurses-minimal.patch
ncurses.tar.gz
ncurses/
nethack-config.patch
nethack.tar.gz
nethack/
opt/
zip/
